<h2 mat-dialog-title>Load The Recording...</h2>

<mat-dialog-content>
    <p>Enter the token and click load</p>
    <mat-form-field appearance="fill">
        <mat-label>Token</mat-label>
        <input matInput [(ngModel)]="token">
    </mat-form-field>

    <div>
        <mat-label *ngIf="warning" style="color: red;">Invalid token.. Try again..!</mat-label>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button (click)="loadData()" mat-raised-button color='primary'>Load</button>
</mat-dialog-actions>