/* You can add global styles to this file, and also import other style files */

html,
body {
    max-width: 820px;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-class .cdk-overlay-container,
.cdk-global-overlay-wrapper,
.cdk-overlay-backdrop {
    max-width: 820px;
}