.grid-stop {
    display: grid;
    align-items: center;
    grid-template-columns: 0.8fr 0.5fr min-content min-content min-content;
}

.grid-play {
    display: grid;
    align-items: center;
    grid-template-columns: 0.8fr 0.5fr 0.2fr min-content min-content min-content;
}

.title {
    color: rgb(40, 65, 65);
    font-size: xx-large;
    padding-left: 10px;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.blue-icon-color {
    color: #3f51b5;
}

.status {
    text-align: end;
    margin-right: 10%;
    margin-top: 7%;
}