<div [class]="isPlaying && (currentIteration != nActions) ? 'grid-play':'grid-stop'">
    <h1 class="title">Web Simulator</h1>

    <h5 class="status" *ngIf="!isPlaying && (currentIteration <= 0)"> Not started </h5>
    <h5 class="status" *ngIf="isPlaying && !isPaused && currentIteration != nActions">
        Playing: step {{currentIteration}} / {{nActions}} </h5>
    <h5 class="status" *ngIf="isPlaying && isPaused && currentIteration != nActions">Paused at the end of: step
        {{currentIteration}} / {{nActions}} </h5>
    <h5 class="status" *ngIf="currentIteration == nActions"> Sequence ended at: step {{currentIteration}} / {{nActions}}
    </h5>


    <!-- pause/play -->
    <button (click)="isPaused = !isPaused" mat-raised-button [color]="isPaused ? 'basic' :'primary'"
        [matTooltip]="isPaused? 'Resume':'Pause'" *ngIf="isPlaying && currentIteration != nActions"
        [disabled]="currentIteration == nActions">
        <mat-icon *ngIf=" !isPaused" fontIcon="pause"></mat-icon>
        <mat-icon *ngIf="isPaused" fontIcon="play_arrow" class="blue-icon-color"></mat-icon>
        <!-- {{isPaused ? 'Play' : 'Pause'}} -->
    </button>

    <!-- step back -->
    <button (click)="jumpPreviousStep=!jumpPreviousStep" mat-raised-button color='basic'
        matTooltip="Back to the step previous page first loaded"
        [disabled]="jumpPreviousStep || ((isPlaying && !isPaused) && currentIteration != nActions)">
        <mat-icon fontIcon="skip_previous"
            [class]="jumpPreviousStep || ((isPlaying && !isPaused) && currentIteration != nActions) ? '':'blue-icon-color'">
        </mat-icon>
    </button>

    <!-- stop/play -->
    <button (click)="isPlaying=!isPlaying" mat-raised-button color='basic'
        [matTooltip]="isPlaying ? 'Stop to go back to the beginning':'Start playing'">
        <mat-icon *ngIf="!isPlaying" fontIcon="play_arrow" class="blue-icon-color"></mat-icon>
        <mat-icon *ngIf="isPlaying" fontIcon="stop" class="blue-icon-color"></mat-icon>
        {{isPlaying ? '' : 'Playback'}}
    </button>

    <!-- step forward -->
    <button (click)="jumpNextStep=!jumpNextStep" mat-raised-button color='basic' matTooltip="Play next step"
        [disabled]="jumpNextStep || (isPlaying && !isPaused) || currentIteration == nActions">
        <mat-icon fontIcon="skip_next"
            [class]="jumpNextStep || (isPlaying && !isPaused) || currentIteration == nActions ? '':'blue-icon-color'">
        </mat-icon>
    </button>
</div>

<app-site-playback-frame *ngIf="retrievedActions != null" [retrievedActions]="retrievedActions" [(isPlaying)]="isPlaying" [(isPaused)]="isPaused"
    [(jumpNextStep)]="jumpNextStep" [(jumpPreviousStep)]="jumpPreviousStep" (iterationUpdate)="updateIteration($event)"
    (nActions)="getTotalActions($event)">
</app-site-playback-frame>